@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

@font-face {
    font-family: helvetica;
    src: url(../font/helvetica-255.zip);
}


.ff-helvetica {
    font-family: 'helvetica', sans-serif;
}

.ff-roboto {
    font-family: 'roboto', sans-serif;
}

.social-media {
    width: 26px;
    height: 16px;
    background-color: var(--gray-200);
    display: block;
}

.social-media:hover {
    transform: translateY(-6px);
}

.transition-300 {
    transition: all 300ms linear;
}

.pt-24 {
    padding-top: 24px;
}

.pb-29 {
    padding-bottom: 29px;
}

.gap-10 {
    gap: 10px !important;
}

.-mt-1 {
    margin-top: -1px;
}

.max-w-1100 {
    max-width: 1100px !important;
}

.pt-20 {
    padding-top: 20px;
}

.gap-11 {
    gap: 11px;
}

.underline::after {
    content: '';
    position: absolute;
    background-color: var(--gray-200);
    height: 1px;
    width: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 300ms linear;
    display: inline-block;
}

.underline:hover::after {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.pt-76 {
    padding-top: 76px;
}

.view-btn {
    padding: 12px 20px 14px 21px;
    border: 1px solid var(--white);
    border-radius: 24px;
}

.view-btn:hover {
    background: var(--sky-100) !important;
    color: var(--black) !important;
    border: 1px solid var(--sky-100);    
}

.view-btn:hover img {
    transform: rotate(45deg);
}

.bottom-border {
    border-bottom: 1px solid var(--gray-300);
}

.pb-31 {
    padding-bottom: 31px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-144 {
    padding-top: 144px;
}

.pt-29 {
    padding-top: 29px;
}

.mt-57 {
    margin-top: 57px;
}

.latest-btn {
    padding: 1px 21px 3px 20px;
    border: 1px solid var(--white);
    border-radius: 24px;
}

.last-section-box {
    background-color: var(--light-black);
    box-shadow: 0px 58px 80px 0px #00000029;
    border-radius: 14px;
    padding: 30px;
}

.pt-29 {
    padding-top: 29px;
}

.outline-none {
    outline: none;
}

.sign-btn {
    padding: 12px 20px;
    background-color: var(--sky-100);
    border-radius: 40px;
    border: 1px solid var(--black);
}

.sign-btn:hover {
    border: 1px solid var(--white);
    background: var(--black);
    color: var(--white) !important;            
}

.pb-79 {
    padding-bottom: 79px;
}

.pb-80 {
    padding-bottom: 80px;
}

.gap-22 {
    gap: 22px;
}

.media-btn {
    border: 1px solid var(--white);
    padding: 12px 40px;
    border-radius: 24px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-32 {
    padding-top: 32px;
}

.min-box {
    background-color: var(--light-black);
    border-radius: 12px;
    padding: 20px;
}

.pt-14 {
    padding-top: 14px;
}
.pt-60{
    padding-top: 60px;

} 
.pb-60{
    padding-bottom: 60px;

}

.Ellipse1 {
    bottom: 0;
    left: 0;
    transition: all 300ms linear;
}

.min-box:hover .Ellipse1 {
    opacity: 1 !important;
}

.latest-btn:hover {    
    background-color: var(--sky-100) !important;
    border: 1px solid var(--sky-100);
    color: var(--black) !important;
}

.latest-btn:hover img {
    transform: rotate(45deg);
}

.media-btn:hover {            
    background: var(--sky-100) !important;
    border: 1px solid var(--sky-100) !important;
    color: var(--black) !important;
}

.gradient-box {
    background: linear-gradient(180deg, var(--light-black) 0%, var(--black) 100%);
    height: 800px;
    top: 0;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-60 {
    padding-top: 60px;
}

@media (max-width:574.98px) {
    .input-text {
        padding: 13px 20px;
        background: var(--black) !important;
        border-radius: 40px;
    }
}

@media (min-width:575px) {
    .pt-sm-80 {
        padding-top: 80px !important;
    }

    .pb-sm-81 {
        padding-bottom: 81px !important;
    }

    .min-box {
        padding: 31px 31px 34px !important;
        height: 282px !important;
    }

    .sign-btn {
        max-width: 103px !important;
    }

    .input-box {
        padding: 9px 10px 9px 22px;
        border-radius: 40px;
        background: var(--black);
    }

    .pt-sm-133 {
        padding-top: 133px !important;
    }
}

@media (min-width:768px) {
    .max-w-md-522 {
        max-width: 522px !important;
    }

    .max-w-md-393 {
        max-width: 393px !important;
    }

    .max-w-md-503 {
        max-width: 503px !important;
    }

    .last-section-box {
        height: 460px !important;
        padding: 35px !important;
    }

    .max-w-md-400 {
        max-width: 400px !important;
    }
}

@media (min-width:992px) {
    .pb-lg-100 {
        padding-bottom: 100px !important;
    }

    .last-section-box {
        padding: 52px 54px 45px !important;
        height: 357px !important;
    }
}

